# OS / editor
.DS_Store
*.swp
.idea/
.vscode/

# Secrets
.env
*.pem
*.key

# Node
node_modules/
coverage/
npm-debug.log*
.eslintcache

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
override.tf
override.tf.json

# Ansible
ansible/inventory/local.ini
ansible/inventory/ci.ini
ansible/scripts/.vm_key*
scripts/.vm_key*
*.retry
